.main-section{
    width: 100%;
    height:800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 10%, transparent),url("./home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left 10% bottom 10%;
    position: relative;
}

.main-form{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    position:absolute;
    left: 32%;
    top: 100px;
    box-shadow: 1px 1px 10px #000;
}

.form_lists{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-form h1{
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.form_lists label{
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
}

.form_lists input:not([type="checkbox"]), select{
    margin-bottom: 1rem;
    height: 2.5rem;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ccc;
}

button{
    background-color: #57b846 !important;
    font-weight: bold;
    font-size: 1.5rem !important;
    font-family: "Anton", sans-serif;
}

button:hover{
    background: #343a40 !important;
    color: white !important;
}



@media (max-width: 1090px)
{   
    .main-form{
        left: 20%;
        width: 60%;
    }
}
@media (max-width: 728px){

    .main-form{
        left: 5%;
        width: 90%;
    }
}
@media (max-width: 540px){

    .main-form{
        left: 0;
        width: 100%;
        border-radius: 0;
    }
    .form_lists{
        width: 90%;
    }
}
